[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/blist"]
	path = themes/blist
	url = https://github.com/apvarun/blist-hugo-theme.git
[submodule "themes/hugo-snap-gallery"]
	path = themes/hugo-snap-gallery
	url = https://src.mehl.mx/mxmehl/hugo-snap-gallery.git
